<body>
    <section id="user-profile">
        <h3 id="hp-logo"><a href="/">towning</a></h3>

        <article id="profile-menu">
            <div class="profile-buttons">
                <button id="profile-btn-profile">Profile</button>
                <button id="profile-btn-traveller">My Traveller Experience</button>
                <button id="profile-btn-hote">My Hote Experience</button>
            </div>

            <a class="profile-buttons-newxp" href="/new-experience/create">Create<br>new experience</a>
            <a class="profile-buttons-searchxp" href="/">Search<br>for an experience</a>
        </article>

        <article id="profile-content" style="display: block">
            <div class="profile-content-picture">
                <img class="userpic" width="150px" src="{{user.userPicture}}" alt="Profile picture"/>
            </div>
            <div class="profile-content-username">
                {{user.userName}}
            </div>
            <div class="profile-content-location">
                {{user.userLocation}}
            </div>
            <div class="profile-content-age">
                {{user.userAge}}
            </div>
            <div class="profile-content-description">
                {{user.userDesc}}
            </div>
            <div>
                <a class="edit-link" href="/user-profile/edit">Edit the profile</a>
            </div>
        </article>

        <article id="profile-experience-traveller" style="display: none">
            <div class="profile-content-picture">
                <img class="userpic" width="150px" src="{{user.userPicture}}" alt="Profile picture"/>
            </div>
            <div class="profile-content-username">
                {{user.userName}}
            </div>
            <div class="profile-content-location">
                {{user.userLocation}}
            </div>
            <div class="profile-experience-traveller-reviews">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                4 reviews
            </div>
            <div class="profile-experience-traveller-cards">
                <ul>
                    {{#each travellerExperience}}
                    <li>
                        <img class="experience-picture" width="150px" src="/images/towning-pictures/ExperienceCartoon.jpg" alt="Experience image"/>
                        <div class="txt-img1">{{this.experienceLocation}}</div>
                        <div class="txt-img2"></div>{{this.experienceType}}</div>
                    </li>
                    {{else}} 
                        <li>No experience yet!</li>
                    {{/each}} 
                </ul>
            </div>
        </article>

        <article id="profile-experience-hote" style="display: none">
            <div class="profile-content-picture">
                <img class="userpic" width="150px" src="{{user.userPicture}}" alt="Profile picture"/>
            </div>
            <div class="profile-content-username">
                {{user.userName}}
            </div>
            <div class="profile-content-location">
                {{user.userLocation}}
            </div>
            <div class="profile-experience-hote-reviews">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                2 reviews
            </div>
            <div class="profile-experience-hote-cards">
                <ul>
                    {{#each hoteExperience}}
                    <li>
                        <img class="experience-picture" width="150px" src="/images/towning-pictures/ExperienceCartoon.jpg" alt="Experience image"/>
                        <div class="txt-img1">{{this.experienceType}}</div>
                        <!--<div class="txt-img2">{{this.experienceDateTime}}</div>-->
                        <form action="/new-experience/{{_id}}/delete" method="POST">
                            <button>Delete</button>
                        </form>
                    </li>
                    {{else}} 
                        <li>No experience yet!</li>
                    {{/each}} 
                </ul>
            </div>
        </article>

    </section>

<script src="/public/js/script.js"></script>
</body>
