<body>
    <section id="userprofile-edit-page">

        <h1>Tell us more...</h1>

        <div id="aboutyou-left">
            <h3>> About you</h3>
        </div>

        <div id="aboutyou-right">
            <form action="/user-profile/edit/{{user.id}}" method="POST">
                <label for="userpicture">
                    Picture
                    <input type="image" value="{{user.userpicture}}" placeholder="Download your picture" name="userpicture">
                </label>

                <label for="username">
                    Full Name
                    <input type="text" value="{{user.username}}" placeholder="Name..." name="username">
                </label>

                <label for="useremail">
                    Email
                    <input type="text" value="{{user.useremail}}" placeholder="Email address..." name="useremail">
                </label>

                <label for="userpwd">
                    Password
                    <input type="password" value="{{user.userpwd}}" placeholder="*********************" name="userpwd">
                </label>

                <label for="agegroup">
                    Age
                    <input type="text" value="{{user.agegroup}}" placeholder="Choose your age group" name="agegroup">
                </label>

                <label for="userlocation">
                    Location
                    <input type="text" value="{{user.userlocation}}" placeholder="Choose your country" name="userlocation">
                </label>

                <label for="userdescription">
                    Describe yourself
                    <textarea placeholder="Hello, I am..." name="userdescription">{{user.userdescription}}</textarea> 
                </label>
            </form>
        </div> 

        <div id="aboutyourexp-left">
            <h3>> About your experience</h3>
            <p>Gourmet, sporty or culture enthusiast? What would you like to experiment?</p>
        </div>

        <div id="aboutyourexp-right">

            <form action="/editprofileexp" method="POST">
                
                <label for="foodexp">
                    > Food experience
                    <input type="checkbox" name="breakfast" value="yes"> Breakfast
                    <input type="checkbox" name="lunch" value="yes"> Lunch
                    <input type="checkbox" name="happyhour" value="yes"> Happy Hour
                    <input type="checkbox" name="dinner" value="yes"> Dinner
                </label>

                <label for="sportexp">
                    > Sports experience
                    <input type="checkbox" name="running" value="yes"> Running
                    <input type="checkbox" name="biking" value="yes"> Biking
                    <input type="checkbox" name="yoga" value="yes"> Yoga
                    <input type="checkbox" name="extremesports" value="yes"> Extreme sports
                </label>

                <label for="culturalexp">
                    > Cultural experience
                    <input type="checkbox" name="museum" value="yes"> Museums
                    <input type="checkbox" name="mustsee" value="yes"> Must-see spots
                    <input type="checkbox" name="unknown" value="yes"> Unknown spots
                    <input type="checkbox" name="historical" value="yes"> Historical spots
                </label>

                <button>Save</button>
            </form>

        </div>

    </section>

</body>