<body>
    <section id="userprofile-edit-page">
        <h3 id="hp-logo"><a href="/">towning</a></h3>

        <article id="about1">

            <div id="aboutyou-left">
                <h2>Tell us more...</h2>
                <h3>&gt; About you</h3>
            </div>
            
            <div id="aboutyou-right">
                <form id="contact" action="/user-profile/edit/{{user.id}}" method="POST" enctype="multipart/form-data">
                    <label for="userpicture">
                        <img class="userpicture" width="150px" src="{{user.userPicture}}" alt="Profile picture"/>
                        <input type="file" name="profileimg" accept="image/png, image/jpeg" id="imginput">
                    </label>

                    <label for="username">
                        Full Name
                        <input type="text" value="{{user.userName}}" name="username" class="form-input">
                    </label>

                    <label for="useremail">
                        Email
                        <input type="text" value="{{user.userEmail}}" name="useremail" class="form-input">
                    </label>

                    <label for="userpwd">
                        Password
                        <input type="password" value="{{user.passwordHash}}" name="userpwd" class="form-input">
                    </label>

                    <label>
                        Age
                        <select id="age-select" name="agegroup" class="form-input">
                            <option value="" selected="selected" hidden="hidden">Choose your age group</option>
                            <option value="18-25yo">18-25 y.o.</option>
                            <option value="26-35yo">26-35 y.o.</option>
                            <option value="36-45yo">36-45 y.o.</option>
                            <option value="46-55yo">46-55 y.o.</option>
                            <option value="56-65yo">56-65 y.o.</option>
                            <option value="More than 65yo">More than 65 y.o.</option>
                        </select>
                        <!--<input type="text" value="{{user.userAge}}" placeholder="Choose your age group" name="agegroup">-->
                    </label>

                    <label>
                        Location
                        <select id="location-select" name="location" class="form-input">
                            <option value="" selected="selected" hidden="hidden">Choose your country and city</option>
                            <optgroup label="france">
                                <option value="Ajaccio / FRANCE">Ajaccio</option>
                                <option value="Bordeaux / FRANCE">Bordeaux</option>
                                <option value="Chambéry / FRANCE">Chambéry</option>
                                <option value="Grenoble / FRANCE">Grenoble</option>
                                <option value="La Rochelle / FRANCE">La Rochelle</option>
                                <option value="Lyon / FRANCE">Lyon</option>
                                <option value="Marseille / FRANCE">Marseille</option>
                                <option value="Nantes / FRANCE">Nantes</option>
                                <option value="Nice / FRANCE">Nice</option>
                                <option value="Paris / FRANCE">Paris</option>
                                <option value="Reims / FRANCE">Reims</option>
                                <option value="Strasbourg / FRANCE">Strasbourg</option>
                                <option value="Toulouse / FRANCE">Toulouse</option>
                            </optgroup>
                            <optgroup label="great-britain">
                                <option value="Birmingham / GREAT BRITAIN">Birmingham</option>
                                <option value="London / GREAT BRITAIN">London</option>
                                <option value="Manchester / GREAT BRITAIN">Manchester</option>
                            </optgroup>
                            <optgroup label="spain">
                                <option value="Barcelona / SPAIN">Barcelona</option>
                                <option value="Madrid / SPAIN">Madrid</option>
                                <option value="Seville / SPAIN">Seville</option>
                            </optgroup>
                            <optgroup label="germany">
                                <option value="Berlin / GERMANY">Berlin</option>
                                <option value="Hamburg / GERMANY">Hamburg</option>
                                <option value="Munich / GERMANY">Munich</option>
                            </optgroup>
                            <optgroup label="turkey">
                                <option value="Ankara / TURKEY">Ankara</option>
                                <option value="Istanbul / TURKEY">Istanbul</option>
                                <option value="Izmir / TURKEY">Izmir</option>
                            </optgroup>
                            <optgroup label="denmark">
                                <option value="Aarhus / DENMARK">Aarhus</option>
                                <option value="Copenhagen / DENMARK">Copenhagen</option>
                                <option value="Odense / DENMARK">Odense</option>
                            </optgroup>
                            <optgroup label="serbia">
                                <option value="Belgrade / SERBIA">Belgrade</option>
                                <option value="Prizen / SERBIA">Prizen</option>
                            </optgroup>
                        </select>
                    </label>

                    <label for="userdescription">
                        Describe yourself
                        <textarea placeholder="Hello, I am..." name="userdescription" class="form-input">{{user.userDesc}}</textarea> 
                    </label>

                    <button class="form-btn">Save</button>
                </form>
            </div>

        </article>

        <!--<article id="About2">

            <div id="aboutyourexp-left">
                <h3>&gt; About your experience</h3>
                <p>Gourmet, sporty or culture enthusiast? What would you like to experiment?</p>
            </div>

            <div id="aboutyourexp-right">

                <form action="/editprofileexp" method="POST">
                    
                    <label for="foodexp">
                        &gt; Food experience
                        <input type="checkbox" name="breakfast" value="yes"> Breakfast
                        <input type="checkbox" name="lunch" value="yes"> Lunch
                        <input type="checkbox" name="happyhour" value="yes"> Happy Hour
                        <input type="checkbox" name="dinner" value="yes"> Dinner
                    </label>

                    <label for="sportexp">
                        &gt; Sports experience
                        <input type="checkbox" name="running" value="yes"> Running
                        <input type="checkbox" name="biking" value="yes"> Biking
                        <input type="checkbox" name="yoga" value="yes"> Yoga
                        <input type="checkbox" name="extremesports" value="yes"> Extreme sports
                    </label>

                    <label for="culturalexp">
                        &gt; Cultural experience
                        <input type="checkbox" name="museum" value="yes"> Museums
                        <input type="checkbox" name="mustsee" value="yes"> Must-see spots
                        <input type="checkbox" name="unknown" value="yes"> Unknown spots
                        <input type="checkbox" name="historical" value="yes"> Historical spots
                    </label>

                    <button>Save</button>
                </form>

            </div>

        </article>-->

    </section>

</body>